*{
    margin: 0;
    padding: 0;
}
  
html {
    scroll-behavior: smooth;
}

body{
      font-family: 'Open Sans', sans-serif;
      background-color: #f2c480
}

header {
    background-color: #1a1a1a;
}

header h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    color: #e3178b;
    text-shadow: 0 0 6px #e3178b;
}

.container1{
    height: 70vh;
    width: 100%;
}

.section-one{
    float: left;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.section-one img {
    max-width: 480px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.section-two{
    float: left;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}
  
.card-container1{
    background: #1a1a1a;
    border-radius: 12px;
    padding: 28px;
    max-width: 460px;
}

form{
    display: grid;
    overflow: hidden;
}

#card-chamada1 {
    margin-bottom: 15px;
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow: 0 0 2px white;
}

input {
    width: 100%;
    margin-bottom: 25px;
    border: 1px solid white;
    text-align: center;
    background: white;
    box-sizing: border-box;
    padding: 8px;
    color: rgba(150, 0, 100, 1);
    outline: none;
    font-size: 20px;
    box-shadow: 0 0 4px white;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif
}

input::placeholder{
    color: rgba(150, 0, 120, 1);
}

button{
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(165, 17, 133);
    border-radius: 8px;
    background-color: rgb(165, 17, 133);
    color: white;
    font-size: 20px;
    outline: none;
    text-shadow: 0 0 4px white;
    font-family: 'Open Sans', sans-serif
}

button:hover{
    cursor: pointer;
}

.container2 {
    height: 20vh;
    width: 100%;
}

.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-chamada2 {
    max-width: 850px;
}

.container2 h2{
    font-size: 45px;
    color: #e3178b;
    text-shadow: 0 0 2px #e016b4;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.card-seta img {
    display: block;
    margin: 50px auto;
}

.section-four {
    margin: 0 auto;
    height: 60vh;
    width: 100%;
}

.container3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-produto {
    width: 300px;
    border-radius: 10px;
    margin: 35px 10px;
    overflow: hidden;
    text-align: center;
    background-color: #ef657e;
    padding: 10px;
}

.card-produto:hover{
    cursor: pointer;
    background-color: #ef7769;
    box-shadow: 0 0 18px #ef7769;
}

.card-produto img {
    height: 280px;
    width: auto;
}

.card-produto h4{
    font-size: 20px;
    margin: 10px;
    color: #1a1a1a;
    font-family: 'Comfortaa', cursive;
}

.card-produto h5 {
    font-size: 16px;
    margin: 10px;
    text-decoration: line-through;
    color: #1a1a1a;
}

.card-produto span {
    font-size: 30px;
    color: #940255;
    text-shadow: 0 0 3px #bd1c9a;
    padding: 10px;
}

footer {
    margin-top: 40px;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 30px;
    font-family: 'Comfortaa', cursive;
}
@media (min-width: 568px) and (max-width: 999px){
    .section-four{
        height: 170vh;
    }
}


/* Telefones em paisagem e abaixo */
@media (max-width: 567px) { 
    .container1 {
        height: 38vh;
        width: 100%;
    }
    
    .section-one img {
        max-width: 320px;
    }
    
    .card-container1 {
        max-width: 330px;
    }
    
    #card-chamada1 {
        text-shadow: none;
    }
    
    input {
        font-size: 16px;
        padding: 5px;
        margin-bottom: 12px;
    }
    
    button {
        padding: 6px;
        font-size: 17px;
    }
    
    #card-chamada2 {
        max-width: 400px;
    }
            
    .container2 h2 {
        font-size: 25px;
    }
        
    .section-four{
        height: 140vh;
    }
    
    .card-produto img {
        margin: 5px;
        height: 220px;
    }
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 850px) {    
    .container1 {
        height: 40vh;
        width: 100%;
    }
    
    .section-one img {
        max-width: 300px;
    }
    
    .card-container1 {
        max-width: 380px;
    }
    
    #card-chamada1 {
        font-size: 20px;
        text-shadow: 0 0 1px white;
    }
        
    input {
        font-size: 20px;
        padding: 5px;
    }
    
    #card-chamada2 {
        max-width: 680px;
    }
        
    .container2 h2 {
        font-size: 28px;
    }
    
    .container2 img {
        margin: 15px auto;
    }
    
    .card-produto {
        margin-bottom: 10px;
        max-width: 240px;
    }
        
    .section-four {
        height: 180vh;
    }
        
    .card-produto img {
        height: 240px;
    }
        
    .card-produto h4{
        font-size: 18px;
    }
    
    footer {
        font-size: 16px;
        text-align: center;
    }
}
